RewriteEngine on
###TASK PAGE###
#General
RewriteRule ^task/([0-9]*)$ tasks/page/page.php?task=$1 [QSA]

RewriteRule ^task/([0-9]*)/anno$ tasks/page/page.php?task=$1&lv=0 [QSA]
RewriteRule ^task/([0-9]*)/prog$ tasks/page/page.php?task=$1&lv=1 [QSA]
RewriteRule ^task/([0-9]*)/discuss$ tasks/page/page.php?task=$1&lv=2 [QSA]
RewriteRule ^task/([0-9]*)/chat$ tasks/page/page.php?task=$1&lv=3 [QSA]
RewriteRule ^task/([0-9]*)/subtasks$ tasks/page/subtasks.php?task=$1 [QSA]