ErrorDocument 404 /404


RewriteEngine on
###ERROR PAGES###
RewriteRule ^404/?$ 404.php


###GENERAL PAGES###
RewriteRule ^/?$ index.php [QSA]
RewriteRule ^user/?$ users/local/user.php [QSA]
RewriteRule ^login/?$ users/local/user.php [QSA]
RewriteRule ^register/?$ users/local/user.php?reg=true [QSA]
RewriteRule ^tasks/?$ tasks/tasks.php [QSA]
# TODO: Add subteams page
RewriteRule ^subteams/?$ /404
# TODO: Add users page
RewriteRule ^users/?$ /404


###TASK PAGE###
#General page
RewriteRule ^tasks/([0-9]*)/?$  tasks/page/page.php?task=$1 [QSA]
#Subpages
RewriteRule ^tasks/([0-9]*)/ann/?$  tasks/page/page.php?task=$1&lv=0 [QSA]
RewriteRule ^tasks/([0-9]*)/prog/?$ tasks/page/page.php?task=$1&lv=1 [QSA]
RewriteRule ^tasks/([0-9]*)/disc/?$ tasks/page/page.php?task=$1&lv=2 [QSA]
RewriteRule ^tasks/([0-9]*)/chat/?$ tasks/page/page.php?task=$1&lv=3 [QSA]
RewriteRule ^tasks/([0-9]*)/subtasks/?$ tasks/page/subtasks.php?task=$1 [QSA]