body {
	margin: 0px;
	font-family: sans-serif;
}
/*HEADER*/
header {
	background-color: #4a2a7c;
	margin: 0px;
	padding-bottom: 0px;
	overflow: hidden;
	font-size: 25px;
	color: #ccc;
	margin-bottom:50px;
}

header h1 {
	margin: 10px;
	margin-left: 4%;
}

nav {
	width: 100%;
}

nav a {
	cursor: pointer;
	display: inline-block;
	padding: 9px;
	margin: 0px;
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
	float: left;
	font-size: 20px;
	color: #ccc;
}

nav a:hover {
	background-color: #2d1a4c;
}

nav a.right {
	float: right
}

/*LOGIN*/
.login {
	display: block;
	margin: auto;
	margin-top: 100px;
	background-color: #ccc;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 30px;
	font-family: sans-serif;
}

.login h2 {
	text-align: center;
	padding-bottom: 20px;
}

.login label {
	margin-left: 5%;
	font-size: 20px;
	font-family: monospace;
}

.login input {
	border: none;
	font-size: 20px;
	width: 50%;
}

.login .buttons {
	text-align: center;
	margin-top: 15px;
}

.login button, input[type=submit] {
	font-size: 20px;
	background-color: #4a2a7c;
	border: none;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	color: #ccc;
}

/*SETTINGS*/
.settings {
	background-color: bisque;
	width: 80%;
	margin: auto;
}

.task {
	background-color: #ccc;
	width: 60%;
	margin-left: 5%;
	float: left;
	padding-top: 60px;
	min-width: 500px;
	padding-bottom: 10px;
	margin-top:25px;
	margin-bottom:25px;
}

.task .top{
	width:100%;
	position:relative;
	top:-60px;
}

.task h2 {
	color: white;
	background-color: #4a2a7c;
	display: inline-block;
	padding: 5px 15px 5px 25px;
	margin: 0px;
	font-size: 30px;
	z-index: 1;
	position: absolute;
	top: 0px;
}

.progress {
	background-image: linear-gradient(120deg, green 45%, gray 55%);
	width: 100%;
	height: 50px;
	display: block;
	float: right;
	position: absolute;
	top: 0px;
	min-width: 500px;
	text-align: right;
	color: white;
	font-size: 25px;
	border-bottom: 1px solid #2d1a4c;
}

.progress #detail {
	font-size: 20px;
	position:relative;
	top:-5px;
}

.task #desc {
	padding-left: 10px;
}

.task #sub {
	float: right;
	margin-right: 10px;
	padding-left: 20px;
	width: 175px;
}

.task #sub table {
	margin-left: auto;
}

.task #sub td {
	padding: 0px;
	padding-right: 15px;
}

.task #people {
	width: 90%;
	padding-top: 15px;
	margin: auto;
}

.task #people #heads {
	
}

.task #people #show-contributors {
	float: right;
	user-select: none;
	cursor: pointer;
}

.task #people #contributors {
	padding-top: 5px;
	display: none;
}

.task #buttons {
	margin-top: 10px;
	text-align: center;
}

.button {
	color: white;
	padding: 5px;
	user-select: none;
	cursor: pointer;
}

.button.active {
	background-color: #4a2a7c;
}

.button.active:hover {
	background-color: #2d1a4c;
}

.button.deactive {
	background-color: #2d1a4c;
}

.button.deactive:hover {
	background-color: #170d26;
}